# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Frontend (React)
citycare-fe/node_modules/
citycare-fe/build/
citycare-fe/dist/
citycare-fe/.cache/
citycare-fe/.env

# Backend (Spring Boot / Maven)
citycare-be/target/
citycare-be/*.iml
citycare-be/.idea/
citycare-be/out/
citycare-be/*.class
citycare-be/*.jar
citycare-be/*.war
citycare-be/*.ear
citycare-be/.env

# Log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# File temporanei
*.tmp
*.swp
